# Pip requirements for building documentation
#
# To install all the packages listed in this file run the following command:
#
# pip install -r requirements.txt
#


# Packages used by fast_ticc
numba
numpy
scikit-learn

# Documentation build dependencies
sphinx
sphinx_rtd_theme


